body {
  background-image: url('Flag_of_Poland.gif');
background-color: rgb(214, 162, 162);
background-size:400px;
  width: 50px;
  height: 30px;
}
</style>
}
.bottom-left {
  position: absolute;
  bottom: 20px;
  left: 16px;

color:blue
}

/* Top left text */
.top-left {
  position: centerd;
  top: 8px;
  left: 16px;
 word-wrap: break-word;
color:blue
}


/* Top right text */
.top-right {
  position: absolute;
  top: 14px;
  right: 10px;
color:blue
}

/* Bottom right text */
.bottom-right {
  position: absolute;
  bottom: 8px;
  right: 16px;
}

/* Centered text */
.centered {
  position: absolute;
  top: 30%;
  left: 45%;
  transform: translate(40%, -60%);
  color:rgb(7, 7, 7)

}
span {
    position:realtive;
    text-align: center;
font-size: 30px;
font-family: 'Mukta', sans-serif;
font-family: 'Tilt Prism', cursive;
background-image:url(C.A.P jpeg);
color:#808080
font-size: 80px;
  color: #fff;
  text-align: center;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px green, 0 0 40px #54e600, 0 0 50px #13ca50, 0 0 60px #14c42b, 0 0 70px #60e413;
  }
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #1cd63b, 0 0 40px #199400, 0 0 50px #279b44, 0 0 60px #23b63c, 0 0 70px #2eb11d, 0 0 80px #8ae01a;
  }
}
.cap {
   
    text-align: center;
    color:yellow;
    text-size:30PX;
font-family: 'Tilt Prism', cursive;
.container {
  position: relative;
  text-align: center;
  color: rgb(224, 16, 16);
font-size:50px;
}

/* "CAP" text */

.airplane {
  position: realtive;
    text-align: center;
    color:#CCCFB
 word-wrap: break-word;
text-size:40px 
font-family: 'Mukta', sans-serif;
font-family: 'Tilt Prism', cursive;
}


/* Bottom left text */

h4{ 
    
    font-family: 'Mukta', sans-serif;
color:blue
text-size:14px
}
